In [1]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
from nml_toolbox.preprocessing import robust

In [3]:
new_data = robust(iris, ['sepal_length'])

In [4]:
new_data

     sepal_length  sepal_width  petal_length  petal_width    species
0       -0.538462          3.5           1.4          0.2     setosa
1       -0.692308          3.0           1.4          0.2     setosa
2       -0.846154          3.2           1.3          0.2     setosa
3       -0.923077          3.1           1.5          0.2     setosa
4       -0.615385          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145      0.692308          3.0           5.2          2.3  virginica
146      0.384615          2.5           5.0          1.9  virginica
147      0.538462          3.0           5.2          2.0  virginica
148      0.307692          3.4           5.4          2.3  virginica
149      0.076923          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
from nml_toolbox.preprocessing import ohe

In [6]:
new_data = ohe(new_data, 'species')
new_data

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,-0.538462,3.5,1.4,0.2,1.0,0.0,0.0
1,-0.692308,3.0,1.4,0.2,1.0,0.0,0.0
2,-0.846154,3.2,1.3,0.2,1.0,0.0,0.0
3,-0.923077,3.1,1.5,0.2,1.0,0.0,0.0
4,-0.615385,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,0.692308,3.0,5.2,2.3,0.0,0.0,1.0
146,0.384615,2.5,5.0,1.9,0.0,0.0,1.0
147,0.538462,3.0,5.2,2.0,0.0,0.0,1.0
148,0.307692,3.4,5.4,2.3,0.0,0.0,1.0
149,0.076923,3.0,5.1,1.8,0.0,0.0,1.0